<h1 class="text-center big-bold" style="padding">Structures</h1>
<div class="flex" style="gap: 10%;">
    <div class="flex-grow">
        <img src="assets/smelter.svg" [ngClass]="{'structure-active': structures.smelter}" matTooltip="Smelter">

    </div>
    <div class="flex-grow">
        <img src="assets/temple.svg" [ngClass]="{'structure-active': structures.temple}" matTooltip="Temple">

    </div>
    <div class="flex-grow">
        <img src="assets/monument.svg" [ngClass]="{'structure-active': structures.monument}" matTooltip="Monument">

    </div>
    <div class="flex-grow">
        <img src="assets/townhall.svg" [ngClass]="{'structure-active': structures.townhall}" matTooltip="Townhall">

    </div>
</div>
<div class="flex" style="gap: 10%;">
    <div class="flex-grow">
        <img src="assets/vault.svg" [ngClass]="{'structure-active': structures.vault}" matTooltip="Vault">

    </div>
    <div class="flex-grow">
        <img src="assets/dragon-tower.svg" [ngClass]="{'structure-active': structures.dragonTower}"
            matTooltip="Dragon Tower">

    </div>
    <div class="flex-grow">
        <img src="assets/arena.svg" [ngClass]="{'structure-active': structures.arena}" matTooltip="Arena">

    </div>
    <div class="flex-grow">
        <img src="assets/spy-hideout.svg" [ngClass]="{'structure-active': structures.spyHideout}"
            matTooltip="Spy Hideout">

    </div>
</div>
<div class="flex" style="gap: 10%;">
    <div class="flex-grow">
        <img src="assets/infirmary.svg" [ngClass]="{'structure-active': structures.infirmary}" matTooltip="Infirmary">
    </div>
    <div class="flex-grow">
        <img src="assets/barracks.svg" [ngClass]="{'structure-active': structures.barracks}" matTooltip="Barracks">

    </div>
    <div class="flex-grow">
        <img src="assets/archery-range.svg" [ngClass]="{'structure-active': structures.archeryRange}"
            matTooltip="Archery Range">

    </div>
    <div class="flex-grow">
        <img src="assets/stable.svg" [ngClass]="{'structure-active': structures.stable}" matTooltip="Stable">
    </div>
</div>