<h1 class="text-center big-bold">{{empire.name}}</h1>
<div class="flex" style="gap: 40%;margin: 0px 20%">
    <div style="flex-grow: 1;flex-basis:0;">
        <img src="assets/houses.svg" matTooltip="Houses">
        <h1 class="text-center bold">{{empire.houses}}</h1>
    </div>
    <div style="flex-grow: 1;flex-basis:0;">
        <img src="assets/gold.svg" matTooltip="Gold">
        <h1 class="text-center bold">{{empire.gold}}</h1>
    </div>
</div>
<div class="flex" style="gap: 40%;margin: 0px 20%">
    <div style="flex-grow: 1;flex-basis:0;">
        <img src="assets/villagers.svg" matTooltip="Villagers">
        <h1 class="text-center bold">{{empire.villagers}}</h1>
    </div>
    <div style="flex-grow: 1;flex-basis:0;">
        <img src="assets/miners.svg" matTooltip="Miners">
        <h1 class="text-center bold">{{empire.miners}}</h1>
    </div>
</div>