<div class="h-100 flex-column">
    <div class="row text-center divider">
        <div class="box">
            <span class="infantry">{{infantry}}</span>
        </div>
        <div class="box">
            <span class="archer">{{archers}}</span>
        </div>
        <div class="box">
            <span class="knight">{{knights}}</span>
        </div>
    </div>
    <div class="flex-grow text-center overflow-auto" [style.font-size]="fontSize">
        <div class="army-unit">
            {{infantryArmy}}
        </div>
        <div class="army-unit">
            {{archerArmy}}
        </div>
        <div class="army-unit">
            {{knightArmy}}
        </div>
    </div>
</div>